
/* ---------------------------------------------- /*
* 1. Reset.css
/* ---------------------------------------------- /*

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font: 400 1rem/1.5 sweet-sans-pro, sans-serif;
    color: #2E2E2E;
    overflow-x: hidden;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* ---------------------------------------------- 
* General & Helper Classes
/* ---------------------------------------------- */

.tk-omnes-pro, body, h1, h2, html, input, p, select, textarea {
    font-family: sweet-sans-pro, sans-serif;
}

p {
    font-family: sweet-sans-pro, sans-serif;
    margin: 0;
}


/* ---------------------------------------------- 
* 1. Header & Nav
/* ---------------------------------------------- */

.mobile-call img {
    width: 20px;
}

.header .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}

.header-right {
    float: right;
}

.header-right ul {
    margin: 0;
    padding: 0;
}

.header-right ul li:last-child {
}

.header-right ul li {
    list-style: none;
    display: inline-block;
    padding-left: 17px;
    position: relative;
}

.header-right ul li .cart-count {
    font-family: sweet-sans-pro, sans-serif;
    font-size: 13px;
    color: #111;
    height: 16px;
    line-height: 14px;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    right: 0px;
    bottom: -10px;
    position: absolute;
    background-color: #EBC9BB;
    padding: 0 4px;
}

.header-right img {
    height: 19px;
}

.header-right--search img {
    width: 19px;
}

.header-right--heart img {
    width: 23px;
}

.header-right--admin img {
    width: 16px;
}

.header-right--cart img {
    width: 17px;
}

.top-hdr {
    padding: 20px 5px;
    border: 1px solid #DEDEDE;
    position: relative;
    z-index: 9;
    margin-left: -20px;
    margin-right: -20px;
}

.mobile-logo-sect .main-logo {
    text-align: center;
    padding: 40px 0 30px;
}

.mobile-menu-toggler {
    padding: 0 0 30px;
}

.mobile-menu-toggler span {
    position: relative;
    left: 50%;
}

.mob-sect-1 {
    background-size: 250% auto;
    background-image: url('../images/home-bg-fade.png');
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 30px;
}

.mob-pro-img {
    text-align: center;
}

.mob-sect-1 .mob-pro-img {
    margin-top: -40px;
}

.mob-pro-desp h2 {
    font-family: sweet-sans-pro, sans-serif;
    font-size: 30px;
    color: #2E2E2E;
    margin-bottom: 0;
    text-align: center;
}

.mob-pro-desp p {
    color: #2E2E2E;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

.btn-wrapper {
    text-align: center;
}

.btn {
    border-radius: 7px;
    font-family: sweet-sans-pro, sans-serif;
    font-size: 8px;
    color: #2E2E2E;
    border: 1px solid transparent;
    min-width: 108px;
    padding: 10px;
    transition: border .25s linear 0s, color .25s linear 0s, background-color .25s linear 0s;
    margin: 0 3px;
    line-height: normal;
}

.btn-1 {
    background-color: #EBC9BB;
}

.btn-2 {
    background-color: #ECECEC;
}

.btn:hover {
    opacity: 0.8;
}

.mob-sect-2 {
    background-size: 250% 65%;
    background-image: url('../images/sparkle-bg-new.png');
    background-repeat: no-repeat;
    background-position: center top;
    padding: 100px 0;
}

.mob-sect-2 .mob-pro-desp {
    padding-top: 50px;
}

.btn-3 {
    background-color: #BBDEEB;
}

.cust-watch {
    padding: 80px 20px 30px;
}

.cust-watch h3 {
    color: #2E2E2E;
    font-family: sweet-sans-pro, sans-serif;
    font-size: 34px;
    margin: 15px 0 0;
}

.cust-watch p {
    color: #2E2E2E;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
}

.pro1 {
    border: 1px solid #B7B7B7;
    text-align: left;
}

.pro1 p {
    padding-right: 60px;
    font-family: sweet-sans-pro, sans-serif;
}

.pro2 {
    border: 1px solid #ccc;
    border-top: 0px;
    text-align: right;
}

.pro2 p {
    padding-left: 60px;
    font-family: sweet-sans-pro, sans-serif;
}

.toggle-ftr {
    margin: 0;
    padding: 20px;
}

.toggle-ftr li {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}

.toggle-ftr li:last-child {
    padding: 0;
}

.toggle-ftr li p {
    color: #2E2E2E;
    font-size: 15px;
    font-family: sweet-sans-pro, sans-serif;
}

.toggle-ftr li .footer-toggle-mob-img {
    width: 50px;
}

.pd-0 {
    padding: 0px
}

.footer-toggle-mob {
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    text-align: center;
    margin: 20px 0 0;
    padding: 10px 0;
}

.img-fluid.pull-me {
    cursor: pointer;
}

.mob-ftrr {
    background: #373344;
    background: -moz-linear-gradient(top, #373344 0%, #323843 100%);
    background: -webkit-linear-gradient(top, #373344 0%, #323843 100%);
    background: linear-gradient(to bottom, #373344 0%, #323843 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#373344', endColorstr='#323843', GradientType=0);
    padding: 40px 0 30px;
}

.mob-ftrr-ul h3 {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    font-family: sweet-sans-pro, sans-serif;
    margin-bottom: 15px;
}

.mob-ftrr-ul ul {
    margin: 0;
    padding: 0;
    border-left: 1px solid #565656;
}

.mob-ftrr-ul ul li {
    list-style: none;
    margin-bottom: 15px;
}

.mob-ftrr-ul ul li a {
    font-size: 10px;
    font-family: sweet-sans-pro, sans-serif;
    color: #fff;
    padding-left: 15px;
    display: block;
}

.mob-social {
    padding: 40px 0;
}

.mob-social ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.mob-social ul li {
    list-style: none;
}

.mob-social ul li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

.mob-social ul li a {
    font-size: 10px;
    font-family: sweet-sans-pro, sans-serif;
    color: #fff;
    padding-top: 10px;
}

.ftr-btm-sect p {
    font-size: 6px;
    font-family: sweet-sans-pro, sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}

.product-list {
    margin: 0px 5px 20px;
}

.product-cat h2 {
    color: #2E2E2E;
    font-size: 30px;
    text-align: center;
    font-family: sweet-sans-pro, sans-serif;
    border-bottom: 1px solid #707070;
    padding-bottom: 8px;
}

.product-cat p {
    color: #2E2E2E;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    font-family: sweet-sans-pro, sans-serif;
}

.product-cat-pro-disc p {
    font-size: 14px;
    color: #2E2E2E;
    font-weight: 600;
    text-align: left;
    margin: 0;
    padding: 0;
    font-family: sweet-sans-pro, sans-serif;
}

.product-cat-pro-disc p span {
    display: block;
    text-align: left;
    font-family: sweet-sans-pro, sans-serif;
}

.product-cat-pro-disc .price {
    color: #B7B7B7;
    font-size: 14px;
}

.product-cat-pro {
    margin-top: 30px;
    padding: 6px;
}

.mob-product-heading {
    font-size: 14px;
    color: #2E2E2E;
    font-weight: bold;
    padding-bottom: 15px;
    margin: 0;
}

.product-action a {
    font-size: 12px;
    color: #2E2E2E;
}

.product-action li {
    margin-right: 30px;
    display: flex;
}

.product-action img {
    margin-right: 6px;
}

.prod-slidr {
    position: relative;
}

#counter {
    position: absolute;
    top: 7%;
    z-index: 999;
    background-color: #fff;
    right: 7%;
    border-radius: 15px;
    font-size: 12px;
    padding: 2px 8px;
    letter-spacing: -1px;
    font-weight: 500;
}

.prod-slidr .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0px;
    position: absolute;
    bottom: -75px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.prod-slidr .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #EBC9BB;
    border: 1px solid #EBC9BB;
}

.prod-slidr .owl-theme .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    margin: 0 5px;
    background: transparent;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    border: 1px solid #707070;
}

#heart a {
    color: #2E2E2E;
    display: inline;
    vertical-align: middle;
    padding-right: 10px;
}

#heart a:hover {
    color: #EBC9BB;
}


/* Added the two below */

#heart .selected {
    color: #EBC9BB;
}

#heart .selected:hover {
    color: #EBC9BB;
}

#heart--liked {
    /*display: none; REMOVED */
    transition: .2s;
    font-size: 20px;
}

.product-action {
    padding: 20px 0 20px;
    display: flex;
}

.action-question {
    display: inline-flex;
    align-items: center;
}

.action-question a {
    display: inline-flex;
    font-size: 12px;
}

.action-question p {
    margin: 0;
    padding-left: 10px;
}

.btnbag {
    font-family: sweet-sans-pro, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: normal;
    color: #fff;
    border: 1px solid transparent;
    transition: border .25s linear 0s, color .25s linear 0s, background-color .25s linear 0s;
    background-color: #2E2E2E;
    width: 100%;
    margin-top: 20px;
    padding: 8px;
}

.btnbag:hover {
    border: 1px solid #2E2E2E;
    background-color: #fff;
    color: #2E2E2E;
}

.btnbag.added {
    background-color: #EBC9BB;
}

#pros_table tr td {
    padding: 12px 20px;
    vertical-align: top;
    border-left: 0.1px solid #2E2E2E;
    border-top: 0px solid #dee2e6;
    width: 50%;
    font-size: 14px;
}

#pros_table tr td:first-child {
    border-left: 0px solid #dee2e6;
    text-align: right;
}

#pros_table.table {
    margin-bottom: 0;
}

.checking-out {
    border: .3px solid #707070;
    font-size: 12px;
    color: #2E2E2E;
    padding: 10px 0;
    text-align: center;
    border-left: 0;
    border-right: 0;
    position: relative;
}

.price-pros {
    color: #2E2E2E;
    font-size: 34px;
    line-height: 64px;
    text-align: center;
    padding: 10px 0 40px;
}

.basket-product {
    display: flex;
    /* margin: 0; */
    padding-bottom: 20px;
    position: relative;
}

.basket-product:after {
    content: "";
    position: absolute;
    left: -15px;
    right: -15px;
    height: 0.6px;
    background: #E2E2E2;
    bottom: 0;
}

.basket-product-img {
    /* width: 35%; */
    flex: 80px 0 0;
}

.basket-product-discription p {
    font-size: 10px;
    font-weight: bold;
    color: #2E2E2E;
    margin-bottom: 0;
}

.basket-product-discription h4 {
    font-size: 18px;
    color: #2E2E2E;
}

.modal-content {
    border: none;
    border-radius: 8px;
    width: calc(100% - 10px);
    margin: 0 auto;
}

#basketmodel .modal-content {
    min-height: 500px;
}

#basketmodel .modal-body {
    padding: 0 0 1rem;
}

#basketmodel .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    text-align: center;
    font-size: 19px;
    color: #2E2E2E;
    font-weight: 400;
    padding: 20px 0 10px;
}

#basketmodel .modal-header {
    border: 0px;
    padding: 0rem 1rem;
}

#basketmodel .modal-bottm {
    padding: 20px;
}

#basketmodel .modal-bottm .continue-shopping {
    font-size: 12px;
    color: #2E2E2E;
    text-decoration: underline;
    text-align: center;
    display: block;
    padding: 40px 0 0;
}

#basketmodel .modal-dialog {
    top: 10%;
}

.is-blurred {
    filter: blur(7px);
    -webkit-filter: blur(7px);
}

.btnbag-checkout {
    font-family: sweet-sans-pro, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: normal;
    color: #fff;
    border: 1px solid transparent;
    transition: border .25s linear 0s, color .25s linear 0s, background-color .25s linear 0s;
    background-color: #2E2E2E;
    width: 100%;
    margin-top: 20px;
    padding: 8px;
}

.btnbag-checkout:hover {
    color: #2E2E2E;
    border: 1px solid #2E2E2E;
    transition: border .25s linear 0s, color .25s linear 0s, background-color .25s linear 0s;
    background-color: #fff;
}

#chatmodel .modal-header {
    border-bottom: 0px solid #dee2e6;
    padding: 0 1rem;
    position: absolute;
    right: 0;
}

#chatmodel .modal-title {
    text-align: center;
    font-size: 19px;
    padding-bottom: 30px;
    padding-top: 15px;
}

#chatmodel .modal-dialog {
    top: 10%;
}

.chat-box {
    padding: 0px 20px 30px 30px;
    margin-top: 30px;
}

.chat-box .row {
    margin-bottom: 30px;
}

.chat-box .row p {
    margin-bottom: 0;
    font-size: 12px;
}

.chat-box .row .chat-box-discr {
    padding: 20px 0;
}

.chat-box .row:nth-child(2n+1) {
    border-radius: 5px 5px 5px 0px;
    border: 1px solid #ccc;
}

.chat-box .row:nth-child(2n) {
    flex-direction: row-reverse;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
}

.chat-box .row:nth-child(2n) .chat-box-img {
    position: absolute;
    top: -25px;
    right: -10px;
}

.chat-box .row:nth-child(2n+1) .chat-box-img {
    position: absolute;
    top: -20px;
    left: -20px;
}

.chat-box .row:nth-child(2n+1) .chat-box-discr p {
    font-weight: bold;
}


/*===============================checkout-layout-css-start==============================================*/

.row.align-items-center.mobile-logo-sect.mobile-togglre {
    flex-direction: row-reverse;
}

.mobile-togglre .hc-nav-trigger {
    top: 20px;
    left: 0;
}

.checkout-layout-mob {
    padding: 50px 0;
}

.checkout-layout-mob h1 {
    font-size: 19px;
    font-weight: lighter;
    color: #2E2E2E;
    text-align: center;
    padding: 0px 0 20px;
}

.checkout-layout-mob .basket-product {
    padding: 0;
}

.continue-shopping {
    font-size: 12px;
    color: #2E2E2E;
    text-decoration: underline;
    padding: 10px 0 0;
    cursor: pointer;
}

.button-holder {
    margin-left: 50px;
    margin-top: 36px;
}

.button-holder input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 1px;
    background-clip: content-box;
    border: 2px solid #707070;
    border-radius: 50%;
    margin-right: 15px;
}

.button-holder input[type="radio"]:checked {
    background-color: #EBC9BB;
}

.button-holder input[type="radio"]:checked+label {
    font-weight: bold;
}

.button-holder label {
    font-size: 12px;
    color: #2E2E2E;
}

.radio-flex {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.totalprice {
    text-align: right;
    border: 0.6px solid #E2E2E2;
    border-left: 0;
    border-right: 0;
}

.totalprice p {
    font-size: 18px;
    color: #2E2E2E;
    margin: 0;
    padding: 15px 15px 15px 0px;
}

.totalprice p strong {
    padding-right: 20px;
}

.billing-details {
    font-size: 18px;
    color: #2E2E2E;
    text-align: center;
    padding: 50px 0;
}

.detail-table {
    margin-bottom: 50px;
}

.detail-table tr td:first-child {
    border-left: 0px solid #dee2e6;
    text-align: right;
}

.detail-table tr td {
    padding: .75rem;
    vertical-align: top;
    border-left: 1px solid #707070;
    border-top: 0px solid #dee2e6;
}

.deliver-address {
    border: 0.6px solid #E2E2E2;
    border-left: 0;
    border-right: 0;
}

.deliver-paymt {
    padding: 40px 0;
}

.deliver-paymt h3 {
    font-size: 18px;
    color: #2E2E2E;
    text-align: center;
}

.button-holder label em {
    display: block;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
}

.button-holder input[type="radio"]:checked+label em {
    font-weight: normal;
}

.button-holder label em span {
    display: block;
}

.button-holder label em span a {
    color: #7D8FA3;
    font-size: 10px;
    text-decoration: underline;
}

.delivery-details-sect {
    border-bottom: 0.6px solid #E2E2E2;
}

.collection h6 {
    font-size: 12px;
    font-weight: bold;
    color: #2E2E2E;
}

.collection p {
    color: #2E2E2E;
    font-size: 10px;
    margin-bottom: 0;
}

.collection p span {
    display: block;
}

.collection a {
    color: #7D8FA3;
    font-size: 10px;
    text-decoration: underline;
    display: block;
}

.collection {
    padding: 20px 0;
}


/*===============================checkout-layout-css-end==============================================*/


/*===============================Payment-Complete-layout-css-start==============================================*/

.payment-layout-min h1 {
    font-size: 19px;
    font-weight: bold;
    color: #EBC9BB;
    text-align: center;
    padding-bottom: 15px;
}

.payment-layout-min p {
    color: #7D8FA3;
    font-size: 13px;
    font-weight: bold;
    padding-top: 15px;
}

.payment-layout-min {
    text-align: center;
    padding: 50px 0 30px;
}


/*===============================Payment-Complete-layout-css-end==============================================*/


/*==========================home-mobile-css-end============================*/


/*=====================================================================layout-mobile-css-end=========================================================================*/